#deleteForm {
  margin-left: -2em;
}
#padre {
  margin-left: 31.8%;
  margin-top: 12em;
  height: max-content;
  width: max-content;
  
}
table {
  padding-left: 5px;
  
  
}
th {
  width: 10em;
  user-select: none;
}

tr {
  min-height: 50px;
}
.sweet-alert-button {
  display: block;
  margin: 0 auto;
}
.sweet-alert-title,
.sweet-alert-content {
  color: #d1d5db;
}
#currentPage{
  user-select: none;
}
.sweet-alert-text{
  color: rgb(203, 203, 203);
}